# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore coverage reports
coverage/

.kbot
docs
docs_
.env
report
.vscode
config
systems
tools.json
commit.json
docker.sh
package-lock.json
scripts
todos.md
tests
tmp
dist/node_modules
dist/data
dist/.kbot
dist/package-lock.json

# Logs
*.Log
*.Log.* 
docs
docs-internal
systems/code-server-defaults
kbot-extensions
systems/workspace/kbot-docs
systems/.code-server/code-server-ipc.sock
systems/.code-server/User/workspaceStorage/
systems/code-server-defaults
systems/.code-server

kbot-tests
kbot-extensions
